
*{margin:0; padding:0}

.wrap_supermark{overflow:hidden; margin:15px auto; width:800px; font:normal 12px Arial; color:#444}

.mark_left{float:left; overflow:hidden; width:70%}
.s_point{overflow:hidden; background:#0082cc; padding:8px; padding-bottom:0px}
.s_point select{width: 180px;}


.mark_right{float:right; width:30%;height:500px; display:block; overflow:auto; }
.mark_right li{list-style:none; float:left; padding:7px; margin:7px; font:normal 11px/20px Arial; color:#444; background:#f2f2f2;min-height: 115px;}
.mark_right li a{display:block; font:bold 12px/20px Arial; color:#0089cf; text-decoration:none; background:url(../../images/site/map-1.png) no-repeat left center;padding-left:20px; }
.mark_right li a:hover{color:#444;}
.mark_right li.active{color:#fff; background:#0082CC;}
.mark_right li.active a{color:#fff;}

.mark_right li span{font:normal 11px/20px Arial; color:#444; display:block}
#titlestoreproduct{clear: both; color: #555;width: 355px;font-size: 14px;text-align: left;margin-bottom: 5px;display: none;}
.sphone,.sfax{display: none;}
#showmap{width: 560px; height: 455px;}
#titlepopup{background: none repeat scroll 0 0 #0082CC;
color: #fff;
font-size: 18px;
margin-bottom: 1px;
overflow: hidden;
padding: 8px 5px;}